<footer>
  {% include nav/microsite-nav.html second-level="false" %}
  <div class="footer">

    <div class="row row--padding">
      <div class="line-length--lg">
        <p class="text--sm">
          *One way ticket, nonstop flight, all taxes included price per passenger. From London Stansted to Ajaccio, Bastia or Figari. Non-refundable ticket. Modification can be done without penalty if staying in same fare category (any modification is susceptible to have a cost when the initially chosen class is no more available), online check-in, free baggage hold (max 23 kg) and free cabin handbag ( max 12 kg), included in the checked baggage allowances. On board services.
        </p>
        <p class="text--sm">
          Offer under conditions, excluding booking fees, subject to availability and change of airport taxes.
        </p>
      </div>
    </div>

    <hr class="hr--center">

    <div class="footer__logos">
      <a class="logo logo--se logo--se-sm" href="https://www.secretescapes.com/"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>
      {% include components/partner-logo.html small='true' class='footer' %}
    </div>

    <div class="footer__info text--center text--white">
      <p>© Copyright <span class="js-year">2017</span> Secret Escapes</p>
    </div>

  </div>
</footer>