// Title & headline styles

.title {
  font-family: $font-family-headline-01;
  line-height: 1.2;
  color: $headline;
  .text--white & { color: white; }

  &--display {
    font-family: $font-family-headline-02;
    font-weight: 400;
  }

  &--core {
    font-family: $font-family;
    line-height: 1.25;
  }

  &--color { color: $headline; }

  & + *         { padding-top: .75em; }
  &--super + *  { padding-top: 10px !important; }
  &--sub        { padding-top: 10px !important; }
  &--light      { font-weight: 300; }
  &--bold       { font-weight: 600; }
  &--bolder     { font-weight: 700; }
  &--kerning    { letter-spacing: .15em; }
  &--kerning-lg { letter-spacing: .3em; }
  &--tight      { line-height: .9; }
  &--tighter    { line-height: .8; }
  &--capital    { text-transform: capitalize; }
  &--upper      { text-transform: uppercase; }
  &--italic     { font-style: italic; }

  &--xxxxxl       { font-size: $s7; }
  &--xxxxl        { font-size: $s7; }
  &--xxxl         { font-size: $s7; }
  &--xxl          { font-size: $s6; }
  &--xl           { font-size: $s5; }
  &--lg           { font-size: $s4; }
  &--md           { font-size: $s3; }
  &--sm           { font-size: $s2; }
  &--xs           { font-size: $s1; }
  &--xxs          { font-size: $s1; }
  &--xxxs         { font-size: $s0; }

  @include bp(md){
    &--xxxxxl       { font-size: $s11; }
    &--xxxxl        { font-size: $s10; }
    &--xxxl         { font-size: $s9; }
    &--xxl          { font-size: $s8; }
    &--xl           { font-size: $s7; }
    &--lg           { font-size: $s6; }
    &--md           { font-size: $s5; }
    &--sm           { font-size: $s4; }
    &--xs           { font-size: $s3; }
    &--xxs          { font-size: $s2; }
    &--xxxs         { font-size: $s1; }
  }



  @include bp(lg){
    $line-width: 100px;
    &--lined {
      position: relative;
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 0.5em;
      &:before,
      &:after {
        content: "";
        background-image: url('../img/icons/pattern-line.svg');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        height: 18px;
        margin-top: -9px;
        width: $line-width;
        .text--white & {
          background-image: url('../img/icons/pattern-line-wh.svg');
        }
      }
      &:before { left: -$line-width; }
      &:after { right: -$line-width; }
    }
  }

}