---
layout: standard
id: overview
title: Overview
nav-order: 1



banner:
  content: >
    <span class="title title--xs title--super title--bolder title--kerning title--upper">Discover</span>
    <h1 class="banner__title title title--display line-length--xl">Corsica</h1>



intro: >
  <p class="text--xl">Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>



sections:

  - title: Outdoors
    id: outdoors
    description: >
      <p class="text--lg">Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    pois-title: Outdoor Highlights
    pois:

      - title: Canyoning
        id: canyoning
        content: Corsica is blessed, particularly in the south, with some gloriously dramatic canyons. Traverse these in the most intrepid possible way, with kayaking and climbing set to test your mettle in gorgeous landscapes. Abseil and slide down glorious waterfalls before trailing your way through crystal-clear waters that cut vast cliffs in two.

      - title: Vallée du Tavignano
        id: vallée-du-tavignano
        content: Corsica’s deepest gorge is a veritable playground for outdoor lovers. It’s charmingly inaccessible, with a long hike leading you into the heart of this breathtakingly beautiful valley. If that sounds like too much work, horse treks can take you deep into this natural wonderland.

      - title: Aiguilles de Bavella
        id: aiguilles-de-bavella
        content: These striking, craggy peaks pierce the land, offering one of the most dramatic views in Corsica. Trails wind their way around them, hiding cool, blue pools of water at the base of picturesque waterfalls. Hike through the captivating landscape for a truly intrepid adventure.

      - title: GR20 Trail
        id: gr20-trail
        content: Widely regarded as one of the most challenging hiking trails in Europe, as well as being lauded as the most beautiful, the GR20 crosses the entire island from the north-west to the south-east. The northern half is considered the most stunning and therefore, ofcourse, the most challenging. It’s no mean feat, but dipping into part of the trial can still prove exceptionally rewarding.



  - title: Coast
    id: coast
    description: >
      <p class="text--lg">Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    pois-title: Coastal Highlights
    pois:

      - title: Réserve Naturelle de Scandola & les Calanques
        id: réserve-naturelle-de-scandola-les-calanques
        content: Another gloriously inaccessible spot is the Réserve Naturelle de Scandola. This UNESCO World Heritage Site is only accessible by boat, making it a serene landscape of jutting peaks and inlets. Included in the UNESCO designation are the Calanques of Piana, further down the coast, where piercing red cliffs fall into the sea.

      - title: Cows & Watersports
        id: cows-watersports
        content: Corsica's glorious coastline offers some truly remarkable activities. From snorkelly to diving and surfing to jetskiing, there’s no shortage of exhilarating experiences to try. And then there’s the cows. Another quirk of the beaches here are the sunbathing cows you’ll most likely come across. A word of warning though – don’t get too close, they’re not as friendly as they look!

      - title: Plage de Palombaggia
        id: plage-de-palombaggia
        content: The Plage de Palombaggia is probably the most exquisite beach in the Mediterranean. It’s long, white stretch of delicate sand is contrasted against the pale, translucent turquoise of its waters, with Corsican pines dotting the edges. Sink back and let the world drift past you on this demonstrably idyllic spot...

      - title: Îles Lavezzi
        id: îles-lavezzi
        content: The Lavezzi archipelago is a nature reserve of astounding beauty. Uninhabited islets rise from the inviting waters, accessible through a number of boat operators. As you discover these small islands, a snorkel or dive kit is the best way to get the most out of the wonderful marine life this collection shelters.



  - title: Culture
    id: culture
    description: >
      <p class="text--lg">Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    pois-title: Culture Highlights
    pois:

      - title: Citadels
        id: citadels
        content: Corsica’s prime location in the middle of the Mediterranean made it a key strategic stronghold. This is exemplified in the vast citadels of Bonifacio and Calvi, where towering medieval walls prop-up pastel towns with labyrinthine streets. Dating back to the 9th century, they tell the story of the Pisans, Genovese and French that each contributed to Corsica’s vibrant history.

      - title: Filitosa
        id: filitosa
        content:

      - title:
        id:
        content:

      - title:
        id:
        content:



  - title: Foodie & Drink
    id: food-drink
    description: >
      <p class="text--lg">Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    pois-title: Food and Drink Highlights
    pois:

      - title:
        id:
        content:

      - title:
        id:
        content:

      - title:
        id:
        content:

      - title:
        id:
        content:



flights:
  title: Flights with Air Corsica
  description: >
    <p class="text--xl">Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue.</p>

  prices-title: Flight Options
  prices:
    - title: Economy return from
      price: "659"
    - title: Business return from
      price: "3,499"



---



<div class="intro{% if page.sections %} has-nav{% endif %}">
  <div class="wp" id="section-intro"></div>

  <div class="intro__content section row row--padding text--center">
    {{page.intro}}
  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



{% assign sections = page.sections %}
{% for section in sections %}
<div class="section vpad--xxxl bg--fixed" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/bg.jpg');">
  <div class="wp" id="section-{{section.id}}"></div>

  <div class="row row--padding row--valign">

    <div class="topic__text">
      <div class="line-length--lg">
        <h2 class="title title--display title--xxl">{{section.title}}</h2>
        <hr class="hr--left">
        {{section.description}}
      </div>
    </div>

    <div class="topic__image hide--xl">
      <div class="bg-img bg-img--3-2" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/01.jpg');"></div>
      <div class="row row--6-6">
        <div class="col bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/02.jpg');"></div>
        <div class="col bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/03.jpg');"></div>
      </div>
    </div>

  </div>

  <!-- POIS -->
  <div class="row vpad-top--md row--padding text--center">

    <h4 class="title title--md title--lined">{{section.pois-title}}</h4>

    <div class="vpad-top--md pois">
      {% for poi in section.pois %}
        {% include components/poi.html %}
      {% endfor %}
    </div>

  </div>

</div>
{% endfor %}




{% assign flights = page.flights %}
<div class="section vpad--xxl bg--theme-primary text--white">
  <div class="wp" id="section-flights"></div>


  <div class="row row--padding text--center">
    <h2 class="title title--display title--xl">{{flights.title}}</h2>

    <hr class="hr--center">
    <div class="line-length--lg">
      {{flights.description}}
    </div>
  </div>

  <div class="row row--padding text--center vpad-top--md">
    <h3 class="title title--md title--lined">{{flights.prices-title}}</h3>
  </div>

  <!-- FLIGHTS CLASSES -->
  <div class="row row--xl row--padding row--6-6-gutters text--center">

    {% for price in flights.prices %}
    <div class="col">
      <div class="bg--black-20 bg--rounded row--padding vpad--md">
        <p class="text--bold title--xxxs">{{price.title}}</p>
        <span class="title title--bold">£<span class="title--xs">{{price.price}}*</span></span>
      </div>
    </div>
    {% endfor %}

  </div>

  <!-- FLIGHTS CTA -->
  <div class="row row--padding text--center">
    <a href="{{site.baseurl}}/air-corsica" id="tracking-button-flights-section" target="_blank" class="btn btn--lg btn--white">View flights</a>
  </div>


</div>

