---
layout: standard
id: overview
title: Overview
nav-order: 1



banner:
  content: >
    <span class="title title--sm title--super title--kerning title--upper title--lined title--bolder">Discover</span>
    <h1 class="banner__title title title--display line-length--xl title--kerning title--upper">Corsica</h1>



intro: >
  <p class="text--xl">Lose yourself in this Mediterranean hideaway, where the sun blesses a vivid landscape of irresistible beaches, wild forests and jutting peaks.</p>
  <p class="text--lg">Discover a unique cultural landscape, where language and food are rooted in the lifeblood of Italian neighbours, yet where everyday Corsican living is steeped in the French lifestyle. It’s an enigmatic mix of taste and style, made all the more irresistible by the beguiling landscape it inhabits.</p>
  <p class="text--lg">Unpick this fascinating Mediterranean getaway with our guide to the best things to do and see, plus a host of luxurious hotel offers to make your Corsica holiday a reality.</p>



sections:

  - title: Outdoors
    id: outdoors
    description: >
      <p class="text--xl">Corsica is a sublime landscape for outdoor lovers. Though the beaches may get plenty attention, the mountains, river valleys and ancient forests of the interior offer a wealth of glorious landscapes and intrepid adventures. Sea and mountain sit side-by-side, creating a unique terrain that makes Corsica one of the finest, untouched outdoor spots in the Mediterranean. </p>
    pois-title: Outdoor Highlights
    pois:

      - title: Canyoning & Biking
        id: canyoning
        content: Corsica is blessed, particularly in the south, with some gloriously dramatic canyons. Traverse these in the most intrepid possible way, with kayaking and climbing set to test your mettle in gorgeous landscapes. Abseil and slide down glorious waterfalls before trailing your way through crystal-clear waters that cut vast cliffs in two. Niolu offers some of the most daring mountain bike trails, yet you’ll find excellent biking routes that criss-cross the island from top to bottom.

      - title: Vallée du Tavignano
        id: vallee-du-tavignano
        content: Corsica’s deepest gorge is a veritable playground for outdoor lovers. It’s charmingly inaccessible, with a long hike leading you into the heart of this breathtakingly beautiful valley. If that sounds like too much work, horse treks can take you deep into this natural wonderland.

      - title: Aiguilles de Bavella, l’Alta Rocca
        id: aiguilles-de-bavella
        content: These striking, craggy peaks pierce the land, offering one of the most dramatic views in Corsica. Trails wind their way around them, hiding cool, blue pools of water at the base of picturesque waterfalls. The wider region of l’Alta Rocca is great for further exploration, with hiking trails winding through this captivating landscape.

      - title: Hiking
        id: gr20-trail
        content: Corsica is blessed with stunning hiking trails. Try the Mare a Mare, the shortest coast to coast route that makes for an easy hike in stunning scenery. For a picture of the island’s natural diversity, the Tra Mare e Monti encapsulates the sea and mountains landscape, trailing between both. Finally, the GR20, widely regarded as one of the most challenging hiking trails in Europe, crosses the entire island from the north-west to the south-east. The northern half is considered the most stunning and therefore, of course, the most challenging.



  - title: Coast
    id: coast
    description: >
      <p class="text--xl">Locked in the heart of the Mediterranean, Corsica is awash with inviting beaches of pure white sand, kissed by gloriously turquoise waters. Dive into its depths and discover fascinating marine life, or find your own private paradise in the Scandola Reserve.</p>
    pois-title: Coastal Highlights
    pois:

      - title: The West Coast
        id: the-west-coast
        content: The western coastline shelters some glorious natural sights. A wonderfully inaccessible spot is the Réserve Naturelle de Scandola. This UNESCO World Heritage Site is only accessible by boat, making it a serene landscape of jutting peaks and inlets. Included in the UNESCO designation are the Calanche de Piana, where piercing red cliffs fall into the sea. Round off your tour on the beach at the Bay of Porto, where the cliffs break to shelter this vast bay.

      - title: Nautical Adventure
        id: nautical-adventure
        content: Corsica's glorious coastline offers some truly remarkable activities. Snorkel in the crystal-clear waters or go further and dive to the depths of the islands’ coastline. Try your hand at sea-canoeing or step-up to sailing. If that seems too easy, windsurfing is very popular with strong winds set to propel you along the glorious coast.

      - title: Wonders of the South
        id: wonders-of-the-south
        content: The southern tip of Corsica is a wonder of natural sights. Try the Lavezzi archipelago, a nature reserve of astounding beauty. Uninhabited islets rise from the inviting waters, accessible through a number of boat operators – perfect for snorkelling. Along the coast you’ll find beaches like the Plage de Palombaggia, probably the most exquisite beach in the Mediterranean, where translucent turquoise waters meet white sand and a Corsican pine border. Saint Cyprien, Panarello and Tizzano complete any beach tour.

      - title: Coastal Living
        id: coastal-living
        content: From towns with grand marinas to small, quaint fishing villages, island life is no more tranquil than next to the sea. Bastia exemplifies the big town charms, with grand, honey-hued buildings lining the front. Ajaccio and Porto Vecchio similarly invite visitors to explore buzzing streets packed with fine fare. Yet the smaller fishing villages pack a punch when it comes to irresistible charms – lose yourself in the hidden delights of Erbalunga, Sisco, Centuri, and Cannelle.



  - title: Culture
    id: culture
    description: >
      <p class="text--xl">Corsica is fiercely proud of its identity, with cultural quirks and traditions that long to be discovered. Unpick the Corsican life by exploring its heritage and history, discovering its most famous resident and unearthing the mountain life in a host of beautiful villages.</p>
    pois-title: Culture Highlights
    pois:

      - title: Citadels
        id: citadels
        content: Corsica’s prime location in the middle of the Mediterranean made it a key strategic stronghold. This is exemplified in the vast citadels of Bonifacio and Calvi, where towering medieval walls prop-up pastel towns with labyrinthine streets. Dating back to the 9th century, they tell the story of the Pisans, Genovese and French that each contributed to Corsica’s vibrant history.

      - title: Filitosa, Cucuruzzu and the Ancestors
        id: filitosa
        content: Filitosa, the best-known prehistoric site on the island, features the extraordinary Bronze Age carvings known as menhirs – standing rocks personified through intricate details like faces, armour and rib cages. Set in an ancient olive grove, Filitosa is a mysterious spot that whispers stories of a forgotten civilization. Discover more along the trail lined by ancient oaks that lead to Cucuruzzu, a Bronze Age fortification similar to the 2,000-year-old Castellu d'Araghju that resides east down the mountain.

      - title: Palais Fesch & the Bonapartes
        id: palais-fesch-the-bonapartes
        content: Started by Napoleon’s uncle, the grand museum of Palais Fesch houses a vast collection of Italian artwork including Botticelli, Titian,Bellini and Veronese. South of the palace is the home of family Bonaparte, where Napoleon grew up. Now a museum, learn about Corsica’s most famous resident.

      - title: Hidden Villages
        id: hidden-villages
        content: The best way to unpick the culture and lifestyle of Corsica is to discover the remote village idylls that hide amongst the vertiginous landscape. The region of Castagniccia shelters three glorious villages amongst its chestnut forests – La Porta, Piedicroce and Valle-d’Alesani. Elsewhere, medieval Sartène and the 16th-century old town of Ghisoni are true gems, perfect for discovering the Corsican life. La Balagne in the north, l’Alta Rocca and the isolated Cap Corse each harbour some of the finest villages on the island – a compelling tour awaits.



  - title: Food & Drink
    id: food-drink
    description: >
      <p class="text--xl">Corsica is blessed with a verdant landscape that offers lowlands that flower with herbs, forests of chestnuts, ancient vineyards, seas full of fish, and livestock that runs wild across the mountains. Discover local delicacies, delectable wines and a thriving fine-dining culture.</p>
    pois-title: Food and Drink Highlights
    pois:

      - title: Charcuterie & other delicacies
        id: charcuterie-other-delicacies
        content: The mountainous interior offers a wealth of delectable charcuterie. Wild pigs roam in the chestnut forests. Cured in the cellars of village homes, the Coppa, Lunzo and Prisuttu are delicious with local cheeses. Game and seafood are also of a very high quality, with dishes infused with the herbs that grow in the lowlands.

      - title: Wine
        id: wine
        content: Corsican wine is one of the island’s best kept secrets. Unique grape varieties only add to the island’s wine-growing mystique, with a collection of dedicated vintners producing fine tipples for you to try across the region. Alight at cellar-door tastings or head to wine bars to try these incredible wines.

      - title: Fine dining
        id: fine-dining
        content: Corsica’s Michelin recognition has exploded over the last ten years, with more restaurants earning Michelin stars than you could ever hope to squeeze into one holiday. To no surprise – the land and sea of Corsica is rich and fertile, offering quality produce for the artisanal hands of the Corsican chefs. Yet this fine fare isn’t limited to Michelin restaurants – Corsica’s farmhouse inns have long been bastions of artisanal delights, reaping the rewards of the island’s fertile lands.

      - title: Markets
        id: markets
        content: Corsica’s markets are the best place to try traditional mountain produce, fresh and direct from the people that make it. From the famed charcuterie to glorious cheeses – including Corsican Bruccio – and delicious honey, wander the weekly markets for an authentic taste of Corsica.



flights:
  title: Discover this glorious island with Air Corsica
  description: >
    <p class="text--lg">Step from London to Bastia, Ajaccio or Figari – so quick is the journey, that you’ll still be full from your breakfast by the time you alight at an Ajaccio cafe, ready for a plate of Fritelli Castagnini. In just two hours you too can discover the delights of this Mediterranean starlet. Plus there’s no need to pack light – a check-in bag is included in your ticket. Fly with Air Corsica from Stansted, with weekly flights to three Corsica destinations from just £49. Your escape starts here.</p>




---



<div class="intro{% if page.sections %} has-nav{% endif %}">
  <div class="wp" id="section-intro"></div>

  <div class="intro__content section row row--xl row--padding text--center">
    {{page.intro}}
  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



{% assign sections = page.sections %}
{% for section in sections %}
<div class="section topic vpad--xxxl bg--fixed" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/bg.jpg');">
  <div class="wp" id="section-{{section.id}}"></div>

  <div class="row row--padding row--6-6-gutters row--valign">

    <div class="col topic__text">
      <div class="line-length--lg">
        <h2 class="title title--display title--xxl">{{section.title}}</h2>
        <hr class="hr--styled">
        {{section.description}}
      </div>
    </div>

    <div class="col topic__gallery hide--xl">
      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/01.jpg');"></div>
      <div class="row row--6-6">
        <div class="topic__gallery-image bg-img bg-img--4-3" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/02.jpg');"></div>
        <div class="topic__gallery-image bg-img bg-img--4-3" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/03.jpg');"></div>
      </div>
    </div>

  </div>

  <!-- POIS -->
  <div class="row row--padding vpad-top--md pois">
    {% for poi in section.pois %}
      {% include components/poi.html %}
    {% endfor %}
  </div>

</div>
{% endfor %}




{% assign flights = page.flights %}
<div class="section vpad--xl bg--theme-primary text--white">
  <div class="wp" id="section-flights"></div>


  <div class="row row--padding text--center">
    <h2 class="title title--display title--lg title--light">{{flights.title}}</h2>

    <hr class="hr--center">
    <div class="line-length--lg">
      {{flights.description}}
    </div>
  </div>

  <div class="row row--padding text--center">
    <h3 class="title title--sm title--kerning title--upper title--lined title--bold">Weekly flights</h3>
  </div>

  <!-- FLIGHTS CLASSES -->
  <div class="row row--lg row--padding text--center">

    <div class="bg--black-20 bg--rounded row--padding vpad--xs">
      <p class="title title--bold title--xxs">
        Fly to Corsica from £<span class="title--sm">49*</span>
      </p>
      <div class="row vpad--xs">
        <a href="https://www.aircorsica.com/flights/?utm_source=secretescapes&utm_medium=site&utm_campaign=viewflights" id="tracking-button-flights-section" target="_blank" class="btn btn--white btn--sm">View flights</a>
      </div>
    </div>

  </div>


</div>

