---
layout: default
---



<div class="banner banner--competition">
  <div class="banner__wrap">
    <div class="banner__content row--padding">
      <div class="row text--white text--center">

        {% if page.banner.content %}
          {{page.banner.content}}
        {% else %}
          <h1 class="title title--banner title--display banner__title">
            {% if page.banner.title %}
              {{page.banner.title}}
            {% else %}
              {{page.title}}
            {% endif %}
          </h1>
        {% endif %}

      </div>
    </div>
  </div>
  {% assign pages = site.html_pages %}
  {% include nav/microsite-nav.html class="banner__nav" %}
</div>



<div class="competition-bg">
  <div class="competition-bg__image js-bg-fade" style="background-image: url({{site.baseurl}}/img/bg/{{page.id}}.jpg);"></div>
</div>



<div class="page__content">


  <div class="row row--padding">
    <div class="row--padding vpad--lg bg--white bg--rounded bg--shadow text--center">
      {{page.intro}}
    </div>
  </div>




  <div class="row row--padding row--4-4-4-gutters vpad-bottom--xl">
    {% for prize in page.prizes %}
      <a href="#enter" class="prize col bg--grey-lightest bg--shadow">

        <div class="bg-img bg-img--16-9 bg-img--lg-1-1" style="background-image: url({{site.baseurl}}/img/content/competition/{{prize.id}}.jpg);"></div>

        <div class="row row--padding vpad--sm text--center">
          <h3 class="title title--xs title--bold title--upper">{{prize.title}}</h3>
          <hr class="hr--center">
          <span class="title title--xxxs title--bold title--sub">{{prize.subtitle}}</span>
        </div>

      </a>
    {% endfor %}
  </div>



  <div class="row row--padding vpad-bottom--xl text--center text--white">

    <div class="wp" id="enter"></div>
    <h3 class="title title--lg title--bold">Enter below...</h3>

    <div class="row row--padding">
      <iframe src="https://promotion4575.strutta.me" width="100%" height="800"> </iframe>
    </div>

  </div>



</div>

{% include modal/modal-poi.html %}