---
layout: standard
id: offers
title: Offers
nav-order: 4



intro: >
  <p class="text--xl">Discover your very own luxury in Corsica with hotels handpicked by Secret Escapes – for a perfect getaway on this irresistible island.</p>


---



<div class="intro{% if page.sections %} has-nav{% endif %}">
  <div class="wp" id="section-intro"></div>

  <div class="intro__content section row row--xl row--padding text--center vpad--xxl">
    {{page.intro}}
  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



<div class="section bg--grey-lightest">
  <div class="row row--padding">
    {% include components/offers.html %}
  </div>
</div>



{% include components/offer-promo.html %}


